<div class="row">
    <div class="col-md-2"><span class="text-info">Available indexes:</span>
        <button type="button" popover-placement="right"
                popover="Here you can select the index that we query over. If you select nothing, we query over all data"
                class="btn btn-link"><span class="glyphicon glyphicon-question-sign"></span></button>
    </div>
    <div class="row">
    <div class="col-md-2"><span class="text-info">Available types:</span>
        <button type="button" popover-placement="right"
                popover="Here you can select the type of documents that we query over. If you select nothing, all types are used for the query. Beware, if you select a type that is not available in the chosen index you see nothing."
                class="btn btn-link"><span class="glyphicon glyphicon-question-sign"></span></button>
    </div>
    <div class="col-md-9">
        <div id="chooseTypeBtn" class="btn-group">
            <button type="button" class="btn btn-xs btn-info" ng-model="type.state" ng-repeat="type in query.types"
                    btn-checkbox>{{type.name}}
            </button>
        </div>
    </div>
</div>
    <div class="col-md-9">
        <div id="chooseIndexBtn" class="btn-group">
            <button type="button" class="btn btn-xs btn-info" ng-model="index.state" ng-repeat="index in query.indices"
                    btn-checkbox>{{index.name}}
            </button>
        </div>
    </div>
</div>
<form novalidate class="form-search" ng-submit="restartSearch()">
    <div class="row">
        <div class="col-md-2">
            <span class="text-info">Query config</span>
            <button type="button" popover-placement="right"
                    popover="Here you can configure some additional items on the query. All queries use the Match query
                    type. You can select the multi search option, than you can add multiple fields, values to search for
                    and the type (or, and, phrase). If you select the explain option you'll learn more about the scoring
                    of the returned results. When selecting highlighting we also show the highlighted fields."
                    class="btn btn-link"><span class="glyphicon glyphicon-question-sign"></span></button>

        </div>
        <div class="col-md-9">
            <button class="btn btn-info btn-sm" ng-click="resetQuery()" title="Reset all choices"><span
                    class="glyphicon glyphicon-refresh glyphicon-white"></span> Reset</button>
            <!--button class="btn btn-info btn-sm" ng-click="saveQuery()"><span
                    class="glyphicon glyphicon-share glyphicon-white"></span> save
            </button>
            <button class="btn btn-info btn-sm" ng-click="loadQuery()"><span
                    class="glyphicon glyphicon-download-alt glyphicon-white"></span> load
            </button-->
            <!--span class="text-info">    Use explain:</span>
            <label class="checkbox-inline"><input type="checkbox" ng-model="query.explain"/></label-->
            <span class="text-info">Highlight terms:</span>
            <label class="checkbox-inline"><input type="checkbox" ng-model="query.highlight"/></label>
            <span class="text-info">, Use multi search:</span>
            <label class="checkbox-inline"><input class="checkbox" type="checkbox" ng-model="query.multiSearch"></label>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px">
        <div class="col-md-12 alert alert-info" ng-hide="query.multiSearch">
            <span class="col-md-3"><input type="search" class="form-control" ng-model="query.term"
                                          placeholder="Enter search terms"/></span>
            <button type="submit" class="btn btn-primary" title="Execute query">Search <span
                    class="glyphicon glyphicon-search glyphicon-white"></span></button>
            <label class="radio-inline">
                <input type="radio" ng-model="query.type" value="or">ANY TERM
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="query.type" value="and">ALL TERMS
            </label>
            <!--label class="radio-inline">
                <input type="radio" ng-model="query.type" value="phrase">PHRASE
            </label-->
        </div>
        <div class="col-md-12 alert alert-info" ng-show="query.multiSearch">
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control" ng-model="query.advanced.newField"
                            ng-options="key as value.forPrint for (key,value) in fields">
                        <option value="">-- chose field --</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="search" ng-model="query.advanced.newText" autofocus="true"
                           placeholder="Type your search string"/>
                </div>
                <div class="col-xs-1">
                    <select class="form-control" ng-model="query.advanced.newType">
                        <option value="or" selected>ANY TERM</option>
                        <option value="and">ALL TERMS</option>
                        <!--option value="phrase">PHRASE</option-->
                    </select>
                </div>
                <button class="btn btn-info" ng-click="addSearchField()"><span class="glyphicon glyphicon-plus-sign glyphicon-white"></span> Add</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="searchField in query.advanced.searchFields">
                        {{searchField.field}} = {{searchField.text}} ({{searchField.type}}) <button class="btn btn-link" ng-click="removeSearchField($index)"><span
                            class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search glyphicon-white"></span> Search</button>
                    <button class="btn btn-sm btn-default" ng-click="saveQuery()"><span class="glyphicon glyphicon-share"></span> Save</button>
                    <button class="btn btn-sm btn-default" ng-click="loadQuery()"><span class="glyphicon glyphicon-download-alt"></span> Load</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Query</h3>
            </div>
            <div class="panel-body">
                <pre>{{createdQuery}}</pre>
            </div>
        </div>
    </div>
</div-->
<div class="row" ng-show="metaResults.failedShards">
    <div class="col-md-12">
        <h3>Errors</h3>

        <div class="alert alert-danger" ng-repeat="error in metaResults.errors">
            {{error}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="margin-left=-15px;">
            <div class="panel-heading">
                <h3 class="panel-title">Results</h3>

                <p>Total hits "{{queryResults.total}}", Max score "{{queryResults.max_score}}"</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <span class="text-info">Index</span>
                    </div>
                    <div class="col-md-3">
                        <span class="text-info">ID</span>
                    </div>
                    <div class="col-md-1">
                        <span class="text-info">Score</span>
                    </div>
                </div>

                <div ng-repeat="doc in queryResults.hits">
                    <div class="row" ng-click="doc.showDetails = !doc.showDetails" style="cursor:pointer;">
                        <div class="col-md-2">{{doc._index}}</div>
                        <div class="col-md-3">{{doc._id}}</div>
                        <div class="col-md-1">{{doc._score}}</div>
                    </div>
                    <div class="row" ng-show="doc.showDetails">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <table class="table table-condensed" ng-hide="query.highlight">
                                        <tr ng-repeat="(key,value) in doc.fields">
                                            <th>{{key}}</th>
                                            <td>{{value}}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-condensed" ng-show="query.highlight">
                                        <tr ng-repeat="(key,value) in doc.highlight">
                                            <th>{{key}}</th>
                                            <td><p ng-repeat="item in value">{{item}}</p></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <h3 ng-show="query.explain">Explanation</h3>

                                    <p>{{doc._explanation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm"
                            max-size="maxSize" ng-change="changePage()" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>

            </div>
        </div>
    </div>
</div>

<script>
    $('.chooseIndexBtn').button();
    $('.chooseTypeBtn').button();
</script>
